*{
	box-sizing: border-box;
}
.clear {
	clear:both;
}
.nav {
	width: 100%;
	list-style: none;
	font-weight: bold;
	margin-bottom: 0px;
	padding: 0px;
	margin-top: -4px;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
.nav li {
	position: relative;
	text-decoration: none;
	float: left;
	width: 14.282%;
}
.nav li a {
	display: block;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
	background: #323232;
	font-size: 14px;
	text-decoration: none;
}
.dropdown_menu {
	padding: 0;
	list-style: none;
	display: none;
	position: absolute;
}
.dropdown_menu li {
	width: 100%;
}
.nav li:hover .dropdown_menu {
	display: block;
}
body{
	background: url(../img/bg.jpg) no-repeat;
	height: 100%;
	background-size: cover;
	margin-top: 0px;
}
.main-wrapper {
	margin: auto;
	width: 80%;
	background: #fff;
	-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}
#photo {
	height: 100%;
	width: 100%;
}
.flags ul li {
	float: left;
	list-style: none;
	margin-right: 15px;
}
.flags h6 {
	margin-top: 5px;
	text-align: center;
	margin-bottom: 0px;
}
.flags {
	position: absolute;
	right: 5px;
	bottom: 5px;
}
.logo {
	position: relative;
	height: 210px;
	padding-top: 45px;
	box-sizing: border-box;
}
.contacts_header {
	position: absolute;
	top: 10px;
	right: 10px;
	font-size: 14px;
    color: #5fa5bb;
}
.parent {
	width: 100%;
	overflow: hidden;
}
.leftColumn {
	padding: 10px 10px;
	width: 21%;
	float: left;
	background-color: #edeef0;
	height: 793px;
}
.centerColumn {
	padding: 10px 10px;
	width: 58%;
	float: left;
	background-color: #fff;
}
.rightColumn {
	padding: 10px 10px;
	width: 21%;
	float: left;
	background-color: #edeef0;
}
h3 {
	text-align: center;
	color: #424c43;
}
footer p{
	text-align: center;
	display: block;
	margin: 5px;
	color: white;
}