body {
  background-color: #eee;
  font-family: 'Helvetica Neue Pro';
  font-size: 18px;
}
.main-wrapper{
	width: 420px;
  background-color: #fff;
  border: 1px;
  margin: 10px  45px;
  padding: 50px;
  box-shadow: 0px 0px 10px 1px rgba(140, 140, 140, 0.5)
}
.line{
	border-top: 1px solid grey;
  margin: 0 20px;
}
.photo{
	text-align: center;
	border-radius: 10px 10px 10px 10px;
}